<form id="new_beer_form">
    <h4>Add Beer</h4>
    <div data-form-fields="data-form-fields"></div>
    <div class="actions">
        <button class="save_beer">Save</button>
        <button class="cancel_beer">Cancel</button>
    </div>
</form>