<tr>
    <td>{{name}}</td>
    <td>{{beerType}}</td>
    <td>{{notes}}</td>
    <td><button class="go_recipes">See Recipes</button></td>
    <td><button class="edit">Edit</button></td>
    <td><button class="remove_beer">Remove</button></td>
</tr>