<table class="listable">
    <thead>
        <tr>
            <th>Beer Name</th>
            <th>Beer Type</th>
            <th>Beer Notes</th>
            <th></th>
        </tr>
    </thead>
</table>