<form id="new_beer_form">
    <h4>Add Beer</h4>
    <div data-form-fields="data-form-fields"></div>
    <div>
        <button type="button" class="save_beer">Save</button>
        <button type="button" class="cancel_beer">Cancel</button>
    </div>
</form>