<form id="new_ingredient_form">
    <h4>Add Ingredient</h4>
    <div data-form-fields="data-form-fields"></div>
    <div>
        <button type="button" class="save_ingredient">Save</button>
        <button type="button" class="cancel_ingredient">Cancel</button>
    </div>
</form>