<fieldset style="width: 300px;">
    <span style="width: 250px;">
        <label>Ingredient Name: </label>
        <input type="text" value="{{name}}" id="name" style="width: 100px; display: inline-block;"></input>
        <label>Ingredient Amount: </label>
        <input type="text" value="{{amount}}" id="amount" style="width: 100px; display: inline-block;"></input>
        <label>Ingredient Unit: </label>
        <input type="text" value="{{unit}}" id="unit" style="width: 100px; display: inline-block;"></input>
        <label>Ingredient Add Time: </label>
        <input type="text" value="{{addTime}}" id="addTime" style="width: 100px; display: inline-block;"></input>
    </span>
</fieldset>