<table class="listable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>Add Time</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>