<tr>
    <td>{{name}}</td>
    <td>{{boilNotes}}</td>
    <td><button class="go_to_ingredients">See Ingredients</button></td>
    <td><button class="edit">Edit</button></td>
    <td><button class="remove_recipe">Remove</button></td>
</tr>