<table class="listable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Boil Notes</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>