<fieldset style="width: 300px;">
    <span style="width: 250px;">
        <label>Name: </label>
        <input type="text" value="{{name}}" id="name" style="width: 100px; display: inline-block;"></input>
    </span>
    <span style="width: 250px; display: inline-block;">
        <label>Boil Notes: </label>
        <input type="text" value="{{boilNotes}}" id="boilNotes" style="width: 100px;"></input>
    </span>
</fieldset>