<form id="new_recipe_form">
    <h4>Add Recipe</h4>
    <div data-form-fields="data-form-fields"></div>
    <div>
        <button type="button" class="save_recipe">Save</button>
        <button type="button" class="cancel_recipe">Cancel</button>
    </div>
</form>