<div class="remove_beer_confirmation_modal" display="none">
    <span>Are you sure you want to delete this beer?</span>

    <div class="actions" style="margin-top: 0; padding: 15px 15px 5px; display: absolute;">
        <button type="button" class="yes" href="javascript:void(0);">Yes</button>
        <button type="button" class="no" href="javascript:void(0);">No</button>

        <div class="clear"></div>
    </div>
</div>